.b-description_readmore_wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: none !important;
  width: 100%;
}

.b-description_readmore {
  width: 80%;
  position: relative;
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 1em;
  text-align: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.b-description_readmore_button {
  display: inline-block;
  width: 150px;
  border: 1px solid black;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

.b-description_readmore_button:hover {
  color: white;
  background: black;
}

.b-description_readmore_ellipsis:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 25px;
  background: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1) 65%);
}
