{#
/**
 * @file
 * Default theme implementation for the expand formatter.
 * @ingroup themeable
 */
#}

{% if contentdata.value %}
    <div class="b-description_readmore js-description_readmore">
        {{ contentdata.value|raw }}
    </div>
{% endif %}